* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 25px;
}

main {
    padding: 25px;
}

.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.stock-info, .graph-section, .stock-table {
    margin: 20px 0;
}

#stockChart {
    width: 100%;
    height: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.tabs-section {
    margin-bottom: 20px;
}

.stock-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stock-tab {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.stock-tab:hover {
    background-color: #45a049;
}

.stock-tab.active {
    background-color: #3e8e41;
}
.section-1 {
    margin-bottom: 20px;
    text-align: center;
}

#stockDropdown {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .search-section {
        flex-direction: column;
    }
}
